body{
    height: 100vh;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.hamburger-btn{
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin: 0;
    cursor: pointer;
}

.hamburger-btn span{
    background-color: white;
    width: 28px;
    height: 3px;
    gap: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0F766E;
    padding: 0px 15px 0px 15px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    position: relative;
}

.nav-list{
    height: 100%;
    padding: 0;
    margin: 0;
}

input#menu-toggle{
    display: none;
    margin: 0;
    padding: 0;
}

#menu-toggle:checked ~ .nav-list {
    display: flex;
    padding: 15px;
    height: max-content;
    background-color: #0F766E;
}

ul {
  list-style-type: none;
  padding: 15px;
  background-color: #0F766E;
  display: none;
  flex-direction: column;
  justify-content:space-evenly;
  width: 100%;
  gap: 20px;
  box-sizing: border-box;
  align-items: flex-start;
  position: absolute;
  top: 100%;
  left:0;
}

nav ul li a{
    display: inline-block;
    width: max-content;
    text-align: center;
    color: white;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: none;
    color:#F59E0B;
}

.nav-search-box{
    display: flex;
    justify-content: center;
    gap: 8px;
}

input{
    width: 100px;
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 15px;
}

input:focus{
    outline: none;
}

button{
    border-radius: 5px;
    background-color:#0F766E;
    border: 1.5px solid white;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:focus, button:active {
    outline: none;
    border:none;
}

button:hover{
    background-color:#F59E0B;
    border: 1.5px solid #F59E0B;
    color: white;
}

.theme-dropdown{
    position: relative;
    height: 100%;
    align-content: center;
}

.dropdown-menu{
    list-style-type: none;
    padding: 10px 0;
    background-color: #0F766E;
    height: max-content;
    display: none;
    flex-direction: column;
    color: white;
    position: absolute;
    top: -40%;
    left: 160%;
    border: none;
}

.dropdown-menu li{
    font-weight: normal;
}

.theme-dropdown:hover .dropdown-menu{
    display: flex;
    cursor: pointer;
}

.theme-dropdown .dropdown-menu li a:hover{
    color: #F59E0B;
}

.theme-dropdown > a{
    cursor: default;
}

.theme-dropdown:hover > a {
    color: #F59E0B;
}

@media (min-width:1024px) {

    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: static;
        margin: 0;
    }

    .hamburger-btn{
        display: none;
    }

    .nav-list{
        min-width: 1000px;
        width: max-content;
    }

    .theme-dropdown{
        position: relative;
        height: 100%;
        align-content: center;
    }

    .dropdown-menu{
        top: 90%;
        left: -33%;
        border: none;
        min-width: 150px;
        box-sizing: border-box;
        text-align:left;
    }

    .dropdown-menu li a{
        white-space: normal;
        padding: 0 5px 0 5px;
    }

    .dropdown-menu li{
        text-align: center;
        font-weight: normal;
    }

    .theme-dropdown:hover .dropdown-menu{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .theme-dropdown .dropdown-menu li a:hover{
        color: #F59E0B;
    }

    .theme-dropdown > a{
        cursor: default;
    }

    .theme-dropdown:hover > a {
        color: #F59E0B;
    }
}