body{
    height: 100vh;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: #0F766E;
    align-items: center;
    padding-left: 15px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0F766E;
    padding: 15px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.nav-logo{
    color: white;
    text-decoration: none;
}

.nav-logo:hover{
    color: white;
}

.hamburger-btn{
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-bottom: 0;
    cursor: pointer;
}

.hamburger-btn .line{
    background-color: white;
    width: 28px;
    height: 3px;
}

input#menu-toggle{
    display: none;
    margin: 0;
    padding: 0;
}

#menu-toggle:checked ~ .nav-list {
    display: flex;
    padding: 15px;
    top: 100%;
    width: max-content;
    height: max-content;
    background-color: #0F766E;
}

.nav-list{
    list-style-type: none;
    background-color: #0F766E;
    display: none;
    flex-direction: column;
    justify-content:space-between;
    gap: 15px;
    box-sizing: border-box;
    align-items: flex-start;
    position: absolute;
    top: 100%;
}

nav ul li a:active{
    text-decoration: none;
    color: #F59E0B;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

.nav-search-box{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

#search-input{
    width: 50%;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    max-height: 40px;
    padding: 15px;
}

#search-input:focus{
    outline: none;
}

.search-button{
    border-radius: 5px;
    background-color:#0F766E;
    border: 1.5px solid white;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button:focus, .search-button:active {
    outline: none;
    border:none;
    background-color:#F59E0B;
}

.theme-dropdown{
    position: relative;
}

.dropdown-menu{
    list-style-type: none;
    padding: 15px;
    border-radius: 0;
    background-color: #0F766E;
    height: max-content;
    gap: 15px;
    display: none;
    flex-direction: column;
    justify-content:space-evenly;
    color: white;
    position: absolute;
    top: 0;
    left: 151%;
    border: none;
}

.dropdown-menu li{
    font-weight: normal;
}

.theme-dropdown:hover .dropdown-menu{
    display: flex;
    cursor: pointer;
}

.theme-dropdown .dropdown-menu li a:hover{
    color: #F59E0B;
}

.theme-dropdown > a{
    cursor: default;
}

.theme-dropdown:hover > a {
    text-decoration: none;
    color: #F59E0B;
}

@media (min-width:1024px) {

    .nav-list{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: static;
        margin: 0;
        min-width: 1000px;
        width: max-content;
    }

    nav ul li a{
        display: inline-block;
        width: max-content;
        text-align: center;
    }

    .hamburger-btn{
        display: none;
    }

    ul li a:hover {
        text-decoration: none;
        color:#F59E0B;
    }

    .search-button:hover{
        background-color:#F59E0B;
        border: 1.5px solid #F59E0B;
        color: white;
    }

    .theme-dropdown:hover .dropdown-menu{
        display: flex;
        cursor: pointer;
    }

    .theme-dropdown{
        position: relative;
        height: 100%;
        align-content: center;
    }

    .theme-dropdown .dropdown-menu{
        top: 95%;
        left: -33%;
        border: none;
        min-width: 145px;
        box-sizing: border-box;
        text-align:left;
        position: absolute;
        border-radius: 0;
        margin-top: -4px;
    }
    
    .dropdown-menu li a{
        white-space: normal;
        padding: 0 5px 0 5px;
    }

    .dropdown-menu li{
        text-align: center;
        font-weight: normal;
        margin: 0;
    }

    .theme-dropdown:hover .dropdown-menu{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .theme-dropdown .dropdown-menu li a:hover{
        color: #F59E0B;
    }

    .theme-dropdown > a{
        cursor: default;
        padding-bottom: -15px;
        margin-bottom: -15px;
    }

    .theme-dropdown:hover > a {
        color: #F59E0B;
    }
}